* {
  font-family: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: border-box; /* Zorgt ervoor dat padding niet de breedte beïnvloedt */
}

h1 {
  font-size: 48px;
}

span {
  font-size: 16px;
  color: #556747;
}

.navbar {
  border-bottom: 1px solid #e5e7eb;
}

.navbar.dark {
  background-color: #1f2937;
  border-bottom-color: #4b5563;
}

.container {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.nav-links-container {
  display: flex;
  align-items: center;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(126, 158, 253);
}

.nav-links {
  list-style: none;
}

.nav-link {
  color: #111827;
  padding: 0.5rem 1rem;
}

.nav-link:hover {
  color: #fd8b1d;
}

.nav-link.active {
  color: #fd8b1d;
  background-color: #ffecda;
  border-radius: 0.5rem;
}

.dark .nav-link {
  color: #fff;
}

.dark .nav-link:hover {
  color: #93c5fd;
}

.actions {
  display: flex;
  gap: 0.75rem;
}

.btn-login {
  background-color: white;
  font-weight: bold;
  color: rgb(126, 158, 253);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(126, 158, 253);
  font-weight: bold;
  padding-left: 3vw;
  padding-right: 3vw;
}

.btn-login:hover {
  background-color: rgb(239, 243, 255);
  border-color: rgb(126, 158, 253);
  cursor: pointer;
}

.btn-registration {
  font-weight: bold;
  background-color: #fd8b1d;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border-color: #fd8b1d;
  font-weight: bold;
  padding-left: 3vw;
  padding-right: 3vw;
}

.btn-registration:hover {
  background-color: #fd891dcd;
  border-color: #fd891dcd;
  cursor: pointer;
}

.btn-toggle-menu {
  display: inline-flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.menu-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.nav-links>li>a>a {
    color: black;
}

/**/
section {
    padding: 2em;
}

article {
    padding: 2em;
}

footer {
    text-align: center;
    padding: 2em;
    background-color: #f9f9f9;
    border-top: 2px solid #fd8b1d;
}

footer > p {
    color: black;
    font-size: 1.5rem;
}